body{
    background-color: #e5eaf0;
}

p{
    font-family: 'Rogueland Slab',Georgia , Arial ;
    font-size: 16px;
    line-height: 20px;
    text-align: left; 
}

.bg-header{
    background: url(../imgs/bg.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
}

.logo{
    margin-top: 20px;
}

ul.menu-desktop{
    text-align: right;
    margin-top: 35px;
}

ul.menu-desktop li{
    display: inline-block;
    margin-left: 35px;

    font-size: 18px;
    font-family:'Rogueland Slab',Georgia , Arial;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

ul.menu-desktop li:nth-child(4){
   background-color: #04608d;
   padding: 7px 15px;
   cursor: pointer;
   text-transform: initial;
}

ul.menu-desktop li a{
    color: #fff;
}

ul.menu-desktop li a.active:after{
    content: "";
    width: 60px;
    height: 3px;
    background-color: white;
    display:block;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
}

.mini-apresentacao{
    width:520px;
    height: 180px;
    position: absolute;
    top:90px;
    left:700px;
    bottom: 410px;
    background: rgba(6, 67, 97,0.3);
    padding: 20px;
}

.mini-apresentacao h3{
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, Arial;
    color:white;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.mini-apresentacao li{
    text-align: left;
    font-size:16px;
    font-family:'Rogueland Slab',Georgia , Arial;
    line-height:24px;
    color: #fff;
}

.mini-apresentacao b{
    font-weight: bold;
}

.mini-apresentacao a{
    text-align: left;
    font-size:16px;
    font-family:'Rogueland Slab',Georgia , Arial;
    line-height:24px;
    color: #fff;

    background-color: #04608d;
    padding: 10px;
    position: relative;
    top: 10px;
    margin-left: 300px;
   
}

.mini-apresentacao a:hover{
    box-shadow: 0 0 10px #02121a;
    transition: 150ms;
}

.estado{
    display:none;
}

.bg-header h1{
    font-size:86px;
    font-weight: bold;
    font-family: "Georgia";
    text-transform:uppercase;
    
    color:white;
    letter-spacing: .1em;
    line-height: 40px;

    text-align: center;

    padding-top:280px;  
}


.bg-header .lista-skils{
    text-align: center;
}



.bg-header .lista-skils li{
    display:inline-block;
    color: #fff;

    
    font-size: 18px;
    font-family:'Rogueland Slab',Georgia , Arial;
    text-transform: uppercase;
    color: #fff;
    

    padding: 0 15px;
    padding-top:30px;
    
}

.bg-header .lista-skils li:before{
    content:"";
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 20px;
    background-color: white;
    margin-right: 5px;
}

.bg-header .cta {
margin: 0 40%;
margin-top: 6%;
}

.cta p{
    font-size:18px;
    font-family:"Rogueland Slab";
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    margin-bottom: 21px;
    text-align: center;
}

.cta img{
    margin: 2% 26%;
    margin-bottom: 66%;
}

section.sobre{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0 0 20px black;
}

section.sobre li{
    list-style-type: initial;
    list-style-position: inside;

    font-family: 'Rogueland Slab',Georgia , Arial ;
    font-size: 16px;
}

section.sobre ul{
    margin-bottom: 40px;
}


section .info{
    padding: 60px; 
} 
section .skills{
    padding: 60px;
    width: 460px;
}


section .info h2, section .skills h2{
    font-family: Georgia,Arial;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 30px;

    text-transform: uppercase;
    margin-bottom: 15px;
}


section .skills{
    background: url(../imgs/sobre-bg.jpg) center no-repeat;
    background-size: cover;
    width:650px;
    position: relative;
    left:40px;
    padding-bottom: 120px;
}


section .skills h2{
    color:white;
}

section .skills p{
    color: #fff;
    margin-bottom:40px;
}

section .skills li{
    color: white;
    margin-bottom: 10px;
}



section .skills span.bom:after{
    content:"";
    width: 120px;
    height: 11px;
    display:inline-block;
    background-color: #fff;
    
    border-radius: 15px;
    position: relative;
    right:10px;
}

section .skills span.medio:after{
    content:"";
    width: 80px;
    height: 11px;
    display:inline-block;
    background-color: #fff;
    
    border-radius: 15px;

    position: relative;
    right:10px;
  
}

section .skills span.iniciante:after{
    content:"";
    width: 30px;
    height: 11px;
    display:inline-block;
    background-color: #fff;
    
    border-radius: 15px;

    position: relative;
    right:10px;
    
}

section.portifolio{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0 0 20px black;
}


section.portifolio h2{
    font-family: Georgia,Arial;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 30px;

    text-transform: uppercase;
    padding: 20px 0;
}

section.portifolio h3{
    margin: 20px 0;
    font-family: 'Rogueland Slab',Georgia , Arial ;
    font-size: 16px;
    line-height: 20px;
    text-align: left; 
    text-transform: uppercase;
}


section.portifolio .portifolio1{
    padding-left: 60px;
}

section.portifolio .portifolio1-1{
    padding-left: 20px;
    padding-top: 200px;
}

section.portifolio .todasBolas .bolas{
    width: 30px;
    height: 30px;
    background-color: rgba(129, 129, 129,0.5); 
    border-radius: 20px;
    margin: 0 auto 15px auto;
    display: inline-block;
    cursor: pointer;
}

.todasBolas{
    margin: 700px auto 0 auto;
    margin-left: 45%;
}

section.portifolio .todasBolas .current{
    background: rgba(5, 100, 148,0.7);
}

section.portifolio .portifolio2 img{
   margin-left: 30%;
}

.esconderPor{
    display:none;
}

section.contacto{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #04608d;
    box-shadow: 0 0 20px black;
}

section.contacto label{
    display: block;

    font-family: 'Rogueland Slab',Georgia , Arial ;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
    text-align: left;
    margin-bottom:4px;
    margin-top: 8px;
}

section.contacto form{
margin:40px 0px ;
margin-left: 80px;
}

.convenser{
    margin-left: 80px;
}

section.contacto input[type="text"], section.contacto textarea{
    width: 500px;
    padding: 8px 5px;
    background: none;
    border: 4px solid #fff; 
    outline: none;
    margin:0 auto;
    color:#fff;
}

section.contacto textarea{
    resize: none;
}

section.contacto input[type="button"]{
    display: block;
    background:none;
    width: 200px;
    height: 40px;
    border: 4px solid #fff;

    font-family: 'Rogueland Slab',Georgia , Arial ;
    font-size: 16px;
    color: #ffffff;

    margin-top: 8px;
}

section.contacto input[type="button"]:hover{
    border: 4px solid rgb(0, 0, 0);
    color: #000000;
}

section.contacto h2{
    font-family: Georgia,Arial;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 30px;
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 40px;
}

section.contacto p{
    color: #fff;
    margin-bottom:20px;
}

section.contacto h3{
    font-family: Georgia,Arial;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 30px;
    color:#fff;
    text-transform: uppercase;

    margin-bottom:10px;
}

section.contacto span{
    display:block;
    font-family: 'Rogueland Slab',Georgia , Arial ;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color:white;
}

section.contacto span:nth-of-type(odd){
    background-color: rgba(129, 129, 129,0.5);
    width: 350px;
    padding: 8px 10px;
}

section.contacto span:nth-of-type(4){
    margin-bottom: 20px;
}

section.contacto ul li{
    display:inline;
    padding: 0 5px;
}

footer{
    background-color: #04608d;
}

footer p{
    font-size:18px;
    font-family:"Rogueland Slab";
    font-weight: bold;
    color:white;
    text-align: center;
    padding: 20px 0;
}